@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');



@layer{

  body{
      @apply font-[Poppins]
  }
  li{
      @apply p-4 text-xl
  }
  
 

  
}

.data{
  border: 1px solid white;
  background-color: rgb(255, 102, 0);
  transition:0.8s;
  position:relative;
  overflow:hidden;
}

.data::before{
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(243,55,32,1) 0%, rgba(239,144,0,1) 100%, rgba(0,212,255,1) 100%);
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}
.data:hover::before{

  height: 180%;

}